# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BarCodeScanner.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\shaxz\Documents\GitHub\BarCode-Scanner-Controller\src\.idea\.idea.BarCodeScanner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
